
/*moonwhite(minty seafoam): #c2f1dd*/
/*darkgreen: #7cbca0*/
*{
	box-sizing: border-box;
	user-select: none;
	outline: none;
}

html, body{
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: calc(0.7vh + 0.7vw + 8px);
}

body{
	background-color: #c2f1dd;
	font-family: 'Questrial', sans-serif;
	
	display: grid;
	grid-template-columns: 4vh auto 4vh;
	grid-template-rows: 4vh 90vh 4vh;
	grid-template-areas: 
	".    .    ."
	". content ."
	".    .    .";
}

#appHolder{
	background-color: #d4d4d4;
	border-radius: 1rem;
	grid-area: content;
	
	display: grid;
	grid-template-columns: 5% auto 5%;
	grid-template-rows: 5% 90% 5%;
	grid-template-areas: 
	".   .  ."
	". game ."
	".   .  .";
}


/*
	INTRODUCTION
*/

#introductionContainer{
	visibility: visible;
	opacity: 1;
	grid-area: game;
	
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 10% 30% 10% 7% 20%;
	
	place-items: stretch;
	grid-row-gap: 1vh;
}

#welcomeHeader{
	font-size: calc(0.7vh + 0.7vw + 18px);
	display: grid;
	text-align: center;
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	place-items: center;
	font-weight: bold;
}

#rules{
	display: grid;
	text-align: center;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	justify-items: center;
}

#introQuestion{
	display: grid;
	text-align: center;
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	justify-items: center;
}

#playerOneHeader, #playerTwoHeader{
	font-weight: bold;
	text-align: center;
	grid-row: 4 / 5;
}

#playerOneHeader{
	grid-column: 1 / 2;
}

#playerTwoHeader{
	grid-column: 2 / 3;
}

#playerOneNameInput, #playerTwoNameInput{
	font-size: calc(0.7vh + 0.7vw + 10px);
}

#startButton{
	justify-self: center;
	width: 50%;
	max-width: 330px;
	height: 50%;
	background-color: #c2f1dd;
	border-radius: 1rem;
	border: 2px solid black;
	box-shadow: 10px 10px 0px 0px grey;
	cursor: pointer;
	grid-column: 1 / 3;
	grid-row: 5 / 6;
	align-self: end;
	
	display: grid;
	place-items: center;
	font-weight: bold;
}


/*
	GAMEBOARD
*/


#gameBoard{
	visibility: hidden;
	opacity: 0;
	grid-area: game;
	
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 15% 25% 15% 25% 20%;
}

#nameOneHolder{
	grid-column: 1 / 2;
	
	text-align: center;
	display: grid;
    place-items: center;
}

#nameTwoHolder{
	grid-column: 2 / 3;
	
	text-align: center;
	display: grid;
    place-items: center;
}

#diceHolder{
	grid-column: 1 / 3;
	
	text-align: center;
	justify-self: center;
	align-self: center;
	height: 8rem;
	width: 8rem;
	background-image: url("./DieFaces/cubes.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#rollButton{
	grid-column: 1 / 3;
	
	width: 65%;
		max-width: 260px;
	height: 70%;
		min-height: 60px;
	font-weight: bold;
	text-align: center;
	justify-self: center;
	display: grid;
    place-items: center;
}

#playerOneScores{
	grid-column: 1 / 2;
	
	text-align: center;
}

#playerTwoScores{
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	
	text-align: center;
}

#playerOneHoldButton{
	grid-column: 1 / 2;
}

#playerTwoHoldButton{
	grid-column: 2 / 3;
}

.normalText{
	font-size: calc(0.7vh + 0.7vw + 16px);
}

#rollButton{
	background-color: #c2f1dd;
	border-radius: 1rem;
	border: 2px solid black;
	box-shadow: 7px 7px 0px 0px grey;
	font-size: 1.5rem;
}

#rollButton:active{
	box-shadow: 7px 7px 0px 0px grey inset;
}

.darkGreenText{
	font-size: 2.8rem;
	color: #7cbca0;
}

.holdButtons{
	border-radius: 1rem;
	border: 2px solid black;
	background-color: #c2f1dd;
	box-shadow: 7px 7px 0px 0px grey;
	font-weight: bold;  
	font-size: 1.5rem;
	
	align-self: center;
	justify-self: center;
	width: 130px;
	height: 50%;
	display: grid;
	place-items: center;
}
   
.holdButtons:active{
	box-shadow: 7px 7px 0px 0px grey inset;
}



@media screen and (max-width: 350px){
	#welcomeHeader{
		font-size: calc(0.7vh + 0.7vw + 14px);
		display: grid;
		text-align: center;
		grid-column: 1 / 3;
		place-items: center;
	}
}

@media screen and (max-width: 420px){
	#appHolder{
		background-color: #d4d4d4;
		border-radius: 1rem;
		grid-area: content;
		
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 100%;
		grid-template-areas: "game";
	}
	
	#rules{
		display: grid;
		text-align: center;
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		justify-items: center;
		padding-left: 5px;
		padding-right: 5px;
	}
}